
/* --------------------------------------------------------------------------
Base styles:
----------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans+Condensed:300|Pacifico|Roboto');

/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */


header {
  padding: 40px;
  background-color: #f2d5f8;
  color: #210b2c;
  line-height: 20px;
}

body {
  text-align: center;
}

h1 {
  font-family: 'Pacifico',cursive;
  font-size: 48px;
  text-align: center;
}

h1 a {
  text-decoration: none;
}

h2 {
  font-family: 'open sans condensed', sans-serif;
  font-size: 28px;
  text-align: center;
}

nav {
  text-align: center;
  width: 100%;
}

nav a, footer a {
  padding: 20px;
  text-decoration: none;
  color: #38023b;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'open sans condensed', sans-serif;
  font-weight: bold;
  background-position: center;
}

img {
	margin: 0 auto;
	max-width: 800px;
	display: none;
  max-width: 650px;
  max-height: 500px;
  padding: 40px;
}

img:first-of-type {
	display: block;
}

footer {
  text-align: center;
  width: 100%;
}


button {
  /*need to make buttons a fixed size*/
  border: none;
  padding: 6px 9px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08); /* To Round corners: */
  border-radius: 4px;
  transition: all .15s ease;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .07em;
  color: #f2d5f8;
  background: #210b2c;
  width: 100px;
  }

.northamerica {
  display: flex;
  flex-direction:row;
}

.footer a {
	font-size: 18px;
	padding: 25px;
	display: inline-block;
	color: #44545E;
}

.copyright {
	border-top: 2px solid #44545E;
	padding: 15px 0 3px;
